<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <title>I Hate SQL</title>
      <link rel="stylesheet" href="/css/style.css">
      <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="container">
        <header>
          <div id="logo">
            <img src="http://i.imgur.com/9yapGQK.png?1">
          </div><!--/// close logo -->
          <nav>
            <li><a href="/videos">ALL VIDEO</a></li>
            <li><a href="/videos/new">NEW VIDEO</a><li>
          </nav>
        </header>
        <div class="content">
        <%= yield %>
      </div><!--///////////////////////////close content//////////-->
      </div><!--///////////////////////////close container//////////-->
      <footer></footer>
  </body>
  </html>
