<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <title>Receipt generator</title>
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <nav>
        <a href="/">Home</a>
        <a href="/new">New</a>
        <a href="/stats">Stats</a>
      <div id="container">
      <%= yield %>
    </div>
  </body>
  </html>
