body {
  background-color: #000;
}


#container {
  width: 100%;
  padding-top: 10%;
  text-align: center;
  font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
}

body{
  font-size: 14px;
line-height: 20px;
color: #fff;
}

h1 {
    font-family: Helvetica;
    font-style: bold;
  font-size: 3em;
  color: #fff;
}

p {
  font-family: Helvetica;
  font-size: 1em;
  color: #000;
}

.button_yes{
      -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51a351), color-stop(1, #387038) );
  background:-moz-linear-gradient( center top, #51a351 5%, #387038 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#387038');
  background-color:#51a351;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}


.button_no{
    -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ee5f5b), color-stop(1, #bd362f) );
  background:-moz-linear-gradient( center top, #ee5f5b 5%, #bd362f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f');
  background-color:#ee5f5b;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;

}

.done{
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006dcc), color-stop(1, #1d1d99) );
  background:-moz-linear-gradient( center top, #006dcc 5%, #1d1d99 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006dcc', endColorstr='#1d1d99');
  background-color:#006dcc;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}

.continue{
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006dcc), color-stop(1, #1d1d99) );
  background:-moz-linear-gradient( center top, #006dcc 5%, #1d1d99 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006dcc', endColorstr='#1d1d99');
  background-color:#006dcc;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}

.button_yes:hover{
  text-decoration: underline;
}

.button_no:hover{
  text-decoration: underline;
}

.continue:hover{
  text-decoration: underline;
}

.done:hover{
  text-decoration: underline;
}



