<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="js/main.js"></script>
  <script src="js/fortune.js"></script>
  <script src="js/age.js"></script>
  <script src="js/snack.js"></script>
  <script src="js/number.js"></script>
  <script src="js/translate.js"></script>
  <script src="js/reporter.js"></script>
  <script src="js/tables.js"></script>
  <script src="js/rainbow.js"></script>
  <script src="js/exchange.js"></script>
  <script src="js/thisforthat.js"></script>
</head>
<body>
  <h1>Hello World</h1>
</body>
</html>