<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Sinatra Calculator</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/yahoo">yahoo page</a>
      <a href="/about">About</a>
    </nav>
    <div id='form'>
    <%= yield %>
  </div>
  </body>
</html>