@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);


body {
  background-color: #fff;
}

header{
    width: 70%;
}


#container {
  width: 100%;
  padding: 5% 5% 5% 30%;
}

#content{
  width: 70%;
}

#about{
  width: 50%;
  font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-style: bold;
  font-size: 3em;
  color: #000;
}

a{
  color: #000;
  text-decoration: none;
}

#content a:visited{
  color: #E8C53A;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #000;
}


nav{
  padding-bottom: 5%;
  width: 50%;
  display: block;
  display: block;
  border-top: 0.15em dashed #D9D9D9;
}

nav li{
    padding: 2%;
  display: inline-block;
  border-left: 0.15em dashed #D9D9D9;
}

nav a{
  color: #000;
}

nav a:hover{
  color: #E8C53A;
}

#form{
  position: relative;
  padding: 5% 5% 5% 0;
  width: 60%;
  font-family: 'Raleway', sans-serif;
  border-top: 0.5em solid #000;
}

button{
  -moz-box-shadow:inset -4px -4px 1px -1px #525252;
  -webkit-box-shadow:inset -4px -4px 1px -1px #525252;
  box-shadow:inset -4px -4px 1px -1px #525252;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #0a0a0a) );
  background:-moz-linear-gradient( center top, #666666 5%, #0a0a0a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#0a0a0a');
  background-color:#666666;
  -webkit-border-top-left-radius:9px;
  -moz-border-radius-topleft:9px;
  border-top-left-radius:9px;
  -webkit-border-top-right-radius:9px;
  -moz-border-radius-topright:9px;
  border-top-right-radius:9px;
  -webkit-border-bottom-right-radius:9px;
  -moz-border-radius-bottomright:9px;
  border-bottom-right-radius:9px;
  -webkit-border-bottom-left-radius:9px;
  -moz-border-radius-bottomleft:9px;
  border-bottom-left-radius:9px;
  text-indent:0;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  border:1px solid #ffffff;
  display:inline-block;
  color:#ffffff;
  height: 7%;
  line-height:50px;
  width:20%;
  text-decoration:none;
  text-align:center;
}

input{
  width: 40%;
  height: 7%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}



/* ======================================== movie page start ======================== */

.imageholder{
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
}


#title h2{
  font-family: 'Playfair Display SC', serif;
  font-style: bold;
  font-size: 2em;
  color: #000;
}

.info{
  margin-left: 55%;
  border-top: 0.09em dashed #000;

}

#title{
  padding-top: 0;
  margin-top: 0;
  margin-left: 55%;
}


