<div class="formholder">
  <h1>ADD SUPPORTER</h1>
<form action="/supporters/<%= @supporters.id %>" method="post">
  <label for="name">name: </label>
  <br>
  <input type="text" id="name" name="name">
  <br>
  <br>
    <label for="location">Location: </label>
  <input type="text" id="location" name="location">
  <br>
  <br>

  <label for="image">Image: </label>
  <br>
  <input type="text" id="image" name="image">
  <br>
  <br>
  <button>Edit Video</button>
</form>
</div><!--//////close form holder-->