<div id="about">
  <h2>So you wanna know about this site ay?</h2>
  <p>Well what can i say it sucks. Heres a bunch of fake text, enjoy: <br>
    yeast, anaerobic brew kettle ale primary fermentation. pint glass crystal malt; krausen yeast. pitching shelf life, lauter tun. shelf life; alcohol dextrin cask real ale. carbonation carboy carbonation scotch ale ibu enzymes grainy amber top-fermenting yeast. racking adjunct beer becher.
    <br>
    <br>

mouthfeel acid rest microbrewery-- krausen; keg: crystal malt ester gravity; oxidized, chocolate malt. dry hopping primary fermentation, lauter tun: yeast amber malt extract. finishing hops, saccharification lager hydrometer; shelf life. squares secondary fermentation original gravity biere de garde chocolate malt kolsch bock, brew kettle. mash tun aerobic terminal gravity mouthfeel, lager shelf life lambic. chocolate malt brewhouse pitch grainy hydrometer becher.
</div><!-- /////////////// close about ////////-->