
<form action="/results" method="get">
  <input name="title" placeholder="title">
  <button>search</button>
</form>

<!-- <form action="/results" method="get">
    <input name="title" placeholder="item">
      <button>Get movie!</button>
</form>
 -->
