<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Movie Finder</h1>
        <nav>
          <a href="/main"><li>Home</li></a>
          <a href="/about"><li>About</li></a>
        </nav>
      </header>
      <div id="content">

        <div id='form'>
          <%= yield %>
        </div><!--/////////colse form/////////////-->

    </div><!--/////////colse content/////////////-->

    </div> <!--/////////colse caontiner/////////////-->
</body>
</html>