
  <h1>Do you have a test for that?</h1>
  <div class="buttons">
    <a href="/pass" class="button_yes">Yes</a>
    <a href="/write_test" class="button_no">No</a>
</div><!--/////////////////////////////////close button //////-->


