<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">
      <header>

      </header>
      <div id="content">

        <div id='form'>
          <%= yield %>
        </div><!--/////////colse form/////////////-->

    </div><!--/////////colse content/////////////-->

    </div> <!--/////////colse caontiner/////////////-->
</body>
</html>