
  <h1>Does the test pass?</h1>
  <div class="buttons">
    <a href="/refactor" class="button_yes">Yes</a>
    <a href="/write_code" class="button_no">No</a>
</div><!--/////////////////////////////////close button //////-->



