
  <h1>Need to refactor?</h1>
  <div class="buttons">
    <a href="/do_refactor" class="button_yes">Yes</a>
    <a href="/new_feature" class="button_no">No</a>
</div><!--/////////////////////////////////close button //////-->


