<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <title>Receipt generator</title>
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div id="container">
      <%= yield %>
    </div>
  </body>
  </html>
