<form action="/mountains" method="post">
  <p>Name:<br>
    <input type="text" name="mountain[name]" autofocus></p><br>
  <p>Image:<br>
    <input type="text" name="mountain[image]"></p><br>
  <p>Country:<br>
    <input type="text" name="mountain[country]"></p><br>
  <p>Ocean Hieght:<br>
    <input type="text" name="mountain[oceanheight]"></p><br>
  <p>Ascent:<br>
    <input type="text" name="mountain[ascent]"></p><br>
  <p><button>Make me a mountain</button></p>
</form>
