<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">
    <h1>Sinatra Calculator</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/movie">movie page</a>
      <a href="/about">About</a>
    </nav>
    <div id='form'>
    <%= yield %>
  </div><!--/////////colse form/////////////-->
</div> <!--/////////colse caontiner/////////////-->
  </body>
</html>